body {
  font-family: var(--tp3-font);
  font-weight: var(--tp3-weight);
  font-size: var(--tp3-size);
  line-height: var(--tp3-line-height);
  letter-spacing: var(--tp3-letter-spacing);
  background-color: var(--clr-cream);
  color: var(--clr-grey);
  padding: 8rem 0;
}

.perfume {
  max-width: 35rem;
  margin-inline: auto;
  border-radius: var(--space-200);
  overflow: hidden;
  background-color: var(--clr-white);
}

.perfume__img {
  display: block;
  position: relative;
}

.perfume__img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.perfume__content {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-300);
  padding: var(--space-400);
}

.perfume__header {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-300);
}

.perfume__label {
  font-family: var(--tp4-font);
  font-weight: var(--tp4-weight);
  font-size: var(--tp4-size);
  line-height: var(--tp4-line-height);
  letter-spacing: var(--tp4-letter-spacing);
  color: var(--clr-grey);
  text-transform: uppercase;
  order: -1;
}

.perfume__heading {
  font-family: var(--tp1-font);
  font-weight: var(--tp1-weight);
  font-size: var(--tp1-size);
  line-height: var(--tp1-line-height);
  letter-spacing: var(--tp1-letter-spacing);
  color: var(--clr-black);
}

.perfume__price {
  display: flex;
  align-items: center;
  column-gap: var(--space-200);
}

.perfume__current-price {
  font-family: var(--tp1-font);
  font-weight: var(--tp1-weight);
  font-size: var(--tp1-size);
  line-height: var(--tp1-line-height);
  letter-spacing: var(--tp1-letter-spacing);
  color: var(--clr-green-500);
}

.perfume__old-price {
  font-family: var(--tp5-font);
  font-weight: var(--tp5-weight);
  font-size: var(--tp5-size);
  line-height: var(--tp5-line-height);
  letter-spacing: var(--tp5-letter-spacing);
  text-decoration: line-through;
}

.perfume__cart-btn {
  font-family: var(--tp2-font);
  font-weight: var(--tp2-weight);
  font-size: var(--tp2-size);
  line-height: var(--tp2-line-height);
  letter-spacing: var(--tp2-letter-spacing);
  background-color: var(--clr-green-500);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-100);
  border: none;
  padding: 1.75rem;
  border-radius: var(--space-200);
  transition: background-color 0.3s;
}

.perfume__cart-btn:hover {
  cursor: pointer;
  background-color: var(--clr-green-700);
}

@media (width >= 48em) {
  body {
    padding: 0;
    min-height: 100dvh;
    display: flex;
    align-items: center;
  }

  .perfume {
    max-width: 60rem;
    display: flex;
  }

  .perfume__content {
    row-gap: var(--space-400);
  }

  .perfume__img,
  .perfume__content {
    width: 50%;
  }

  .perfume__img img {
    min-height: 100%;
  }
}
